.bmi--container{
    background-image: url('./background.jpg');
    background-color: black;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: clamp(1rem,5vw,3rem);
    color: white;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bmi--container > *{
    margin-bottom: 0.6rem;
}

.primary-color{
    color: var(--primary-color);
}

.bmi--container h1{
    font-size: 3rem;
    
}

.bmi--container h2{
    color: rgb(59, 59, 59);
    font-size: 1.2rem;
}

.input--container, .result--container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.input--container input{
    padding: 0.7rem 0.5rem;
    font-size: 1.2rem;
    color: rgb(95, 95, 95);
}

.input--container input:focus{
    outline: none;
}

.input--container input, .result--container span{
    border: none;
    width: 300px;
    font-weight: 600;
}

.bmi--container button{
    margin-top: 1.2rem;
    padding: 0.7rem;
    background-color: rgb(73, 73, 73);
    color: white;
    border: none;
    font-size: 1.3rem;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.bmi--container button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    
    .bmi--container{
        background-image: none;
    }

}