.contact--container{
    width: 100%;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact--container > *{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    min-width: 250px;
}

.contact--details h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.contact--details p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(68, 68, 68);
}

.contact--form{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 250px;
}

.contact--form > input, .contact--form > textarea, .contact--form > select, .contact--form > .class--container{
    color: rgb(63, 63, 63);
    width: 90%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid rgb(138, 138, 138);
}

.contact--form> input:focus, .contact--form > textarea:focus, .contact--form > select:focus{
    outline: none;
}

.contact--heading{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.contact--heading::before{
    content: " ";
    position: absolute;
    background: var(--primary-color);
    width: 25%;
    height: 5px;
    bottom: 0;
    left: 0;
}

.contact--form > .class--container{
    height: auto;
    border: none;
    padding-left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.4rem 1rem;
}

.class--container input{
    display: none;
}

.class--container label{
    border: 1px solid rgb(138, 138, 138);
    border-radius: 8px;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}

.class--button > input:checked ~ label {
    background: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    outline: none;
}

.selected--price{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(102, 102, 102);
    padding-bottom: 1rem;
}