body{
    margin-top: 10vh;
}

nav{
    height: 10vh;
    width: 100%;
    position:fixed;
    top: 0;
    background-color: rgb(17, 17, 17);
    color: white;
    padding-inline: 2rem;
    z-index: 9999999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav--left{
    font-size: 1.6rem;
}

.nav--right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
}

.nav--right li
{
    list-style: none;

}

.nav--right li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.nav--menu-button{
    font-size: 2rem;
    display: none;
}

@media screen and (max-width:650px) {
    
    .nav--right{
        display: none;
    }

    .nav--menu-button{
        display: block;
    }

    .mobile--nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(17, 17, 17);
        height: 90vh;
        left: 0;
        bottom: 10vh;
        width: 100%;
        transform:translateY(100vh);
    }

    .nav--right{
        padding: 3rem;
    }
}

.login--button{
    background: var(--primary-color);
    color: white;
    padding: 0.4rem;
    border-radius: 10px;
}